body {
  background-color: white;
}

.head1 {
  font-size: 30px;
  color: white;
  background-color: grey;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftText {
  font-weight: bold;
}

.rightContent {
  display: flex;
  align-items: center;
}

.bell {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.icon1 {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.rightText {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
}



.container {
  display: flex;
}


.sidebar {
  width: 200px;
  background-color: #f8f8f8;
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-weight: bold;

}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-weight: normal;
}

.studentsInfo {
  font-size: large;
  padding: 8px;
  text-align: center;
}

.optionIcons {
  width: 15px;
  border: 1px solid black;
}

.optionIcons:hover {
  background-color: lightgray;
}

.optionIcons:active {
  font-weight: bold;
  background-color: #ddd;
}

.plus {
  width: 15px;
  border: 1px solid black;
  margin-right: 0;
  margin-left: auto;
  display: block;
  position: relative;
  top: -5px;
}

.plus:hover {
  background-color: lightgray;
}

.plus:active {
  font-weight: bold;
  background-color: #ddd;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagebtn {
  padding: 3px 5px;
  margin: 0 3px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.pagebtn:hover {
  background-color: lightgray;
}

.pagebtn.active {
  font-weight: bold;
  background-color: #ddd;
}